#navigation {

	nav {
		ul.menu {
			li {

				// Make space between the menu items
				margin-right: 20px;

				// Prevent the links from being too long
				// max-width: 150px;

				// Do not give space to the last child
				&:last-child {
					margin-right: 0px !important;
				}

				> a {

					text-align: center;

					// Remove the weird indent in the links
					&:before {
						content: "" !important;
						margin-right: 0 !important;
					}
					&:after {
						content: "" !important;
						margin-left: 0 !important;
					}
				}

				// Make the active page link green
				&.current-menu-item {
					& > a {
						color: @headings;
					}
				}


				// Language chooser
				&.menu-item-language {
					margin-right: 3px;
				}
			}
		}
	}

}

