@import '_mixins';

@import 'menu';
@import 'footer';


h1, h2, h3, h4, h5, h6 {
	color: @headings;
}

// Custom contact form class
.contact-form {
	input, textarea { 
		background-color: #f5f5f5 !important;
	}
} 

.portfolio-item h4 {
	color: white !important;
}

.no-margin-bottom {
	margin-bottom: 0px !important;
}

.wpb_revslider_element {
	margin-bottom: 0px !important;
}