#navigation nav ul.menu li {
  margin-right: 20px;
}
#navigation nav ul.menu li:last-child {
  margin-right: 0px !important;
}
#navigation nav ul.menu li > a {
  text-align: center;
}
#navigation nav ul.menu li > a:before {
  content: "" !important;
  margin-right: 0 !important;
}
#navigation nav ul.menu li > a:after {
  content: "" !important;
  margin-left: 0 !important;
}
#navigation nav ul.menu li.current-menu-item > a {
  color: #6eba52 !important;
}
#navigation nav ul.menu li.menu-item-language {
  margin-right: 3px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #6eba52 !important;
}
.contact-form input,
.contact-form textarea {
  background-color: #f5f5f5 !important;
}
.portfolio-item h4 {
  color: white !important;
}
.no-margin-bottom {
  margin-bottom: 0px !important;
}
.wpb_revslider_element {
  margin-bottom: 0px !important;
}
